body {
    font-family: Rokkitt;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 4rem;
    height: auto;
    padding: 1rem;
    padding-right: 0.5rem;
}

.logo p {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav li {
    display: inline-block;
    margin: 0 5rem;
    
}

.nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    margin-top: 96px;
}

.container {
    background-image: url("images/underwater2.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

.about-text {
    text-align: center;
    background-color: white;
    opacity: 0.9;
}

.about-text h1 {
    font-size: 3rem;
}

.about-text p {
    font-size: 1.5rem;
}

.what {
    padding-top: 66px;
}

.what p {
    text-align: center;
    font-size: 1.25rem;
}

.what h2 {
    text-align: center;
    font-size: 1.75rem;
    padding-top: 3rem;
}

.img-container {
    display: flex;
    justify-content: space-around;
}

.img-container img {
    width: 30%;
    height: auto;
}

.team {
    padding-top: 66px;
    width: 100%;
}

.team h2 {
    text-align: center;
    font-size: 1.75rem;
    padding-top: 3rem;
}

.dave {
    text-align: center;
    width: 45%;
    font-size: 1.25rem;
}

.suse {
    text-align: center;
    width: 45%;
    font-size: 1.25rem;
}

.dave img {
    width: 100%;
    height: auto;
}

.suse img {
    width: 100%;
    height: auto;
}

.contact {
    text-align: center;
    padding-top: 66px;
}

.contact h2 {
    font-size: 1.75rem;
    padding-top: 3rem;
}

.contact h3 {
    font-size: 1.5rem;
}

.contact p {
    font-size: 1.25rem;
}

footer {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    border-top: 1px solid black;
    padding: 2rem 0;
}

span {
    text-decoration: underline;
}